.sectionHead {
  padding: 70px 0;
  text-align: center;
  position: relative;

  h1 {
    font-size: 70px;
    font-weight: 800;

    @include respond-below(md) {
      font-size: 50px;
    }
  }

  &.v3 {
    color: $color_j3;
  }
  &.v1 {
    color: $color_j1;
  }
}
