@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
  scroll-behavior: smooth !important;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* background-color: #1f3f2b; */
}

/*  */
.w-container:after {
  clear: both;
}

/*  */
.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}

/*  */
.section-hero {
  height: 100vh;
  background-image: url("/bg/bg2.jpg");
  align-items: center;
  padding-top: 150px;
  background-size: cover;
  padding-bottom: 150px;
  display: flex;
  position: relative;
  overflow: hidden;
  background-position: bottom;
}

/*  */
.container {
  max-width: 1920px;
  flex: 1;
  padding-left: 30px;
  padding-right: 30px;
}

/*  */
.hero-assets {
  z-index: 1;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.top-assets {
  z-index: 1;
  height: 40vh;
  max-height: 40vh;
  justify-content: center;
  margin-top: -13%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.left-assets {
  width: 58vw;
  height: 100vh;
  /* opacity: 0.8; */
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.right-assets {
  width: 47vw;
  height: 100vh;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}


.texture-2 {
  z-index: 1;
  width: 100vw;
  height: 50vh;
  max-width: none;
  object-fit: cover;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.top-shadow {
  z-index: -1;
  height: 80%;
  max-width: 80%;
  /* opacity: 0.8; */
  display: block;
  position: absolute;
  top: 8%;
}

.left-shadow {
  width: 115%;
  height: 100%;
  max-width: none;
  /* opacity: 0.7; */
  position: absolute;
  bottom: -21%;
  left: -24%;
  right: 0%;
}

.left-image {
  z-index: 2;
  width: 100%;
  height: 62%;
  max-height: 62%;
  max-width: none;
  position: absolute;
  top: auto;
  bottom: -15%;
  left: -17%;
  right: auto;
}

.right-shadow {
  z-index: 1;
  width: 120%;
  max-height: 100%;
  max-width: 120%;
  /* opacity: 0.1; */
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: -27%;
}

.right-image {
  z-index: 4;
  width: 120%;
  height: 64%;
  max-height: 64%;
  max-width: 120%;
  position: absolute;
  top: auto;
  bottom: -12%;
  left: auto;
  right: -30%;
}

.right-orchid {
  z-index: 6;
  height: 45%;
  max-height: 45%;
  position: absolute;
  top: auto;
  bottom: -13%;
  left: auto;
  right: -5%;
  transform: rotate(-70deg);
  
}

.top-image {
  width: 100%;
  height: 100%;
}

.line-1 {
  z-index: 1;
  width: 3px;
  height: 100%;
  background-image: linear-gradient(#ddd4ab, #2d4e4f);
  position: absolute;
  top: 0;
  left: 5%;
}

.line-2 {
  z-index: 3;
  width: 3px;
  height: 100%;
  background-image: linear-gradient(#ddd4ab, #2d4e4f);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 5%;
  
}

.left-top-image {
  z-index: 0;
  width: 70%;
  max-height: 70%;
  position: absolute;
  top: auto;
  bottom: 17%;
  left: -29%;
  right: auto;
}

.left-orchid {
  z-index: 3;
  max-height: 50%;
  display: none;
  position: absolute;
  top: auto;
  bottom: -9%;
  left: 10%;
  right: auto;
}

.right-top-image {
  z-index: 2;
  width: 60%;
  max-height: 40%;
  position: absolute;
  top: auto;
  bottom: 37%;
  left: auto;
  right: -25%;
}

/*  */
.content-wrapper {
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .top-assets {
    height: 30vh;
    max-height: 30vh;
  }

  .left-image {
    bottom: -18%;
  }

  .right-orchid {
    height: 40%;
    max-height: 40%;
    right: -9%;
    
  }

  .faq-wrap {
    width: 90%;
  }

  .right-top-image {
    bottom: 34%;
  /* display:none; */

  }

  .assets-2 {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .section-hero {
    padding-top: 50px;
  }

  .hero-wrap {
    margin-top: -20%;
  }

  .left-shadow {
    bottom: -32%;
    left: -30%;
  }

  .left-image {
    width: 70%;
    height: 50%;
    max-height: 50%;
    bottom: -13%;
    left: -20%;
    
  }

  .right-shadow {
    width: 130%;
    max-width: 130%;
    right: -20%;
  display:none;

  }

  .right-image {
    width: 140%;
    height: 70%;
    max-height: 70%;
    max-width: 110%;
    bottom: -24%;
  /* display:none; */

  }

  .right-orchid {
    height: 23%;
    max-height: 23%;
    bottom: -3%;
    right: -5%;
    
    
  }

  .left-top-image {
    width: 80%;
    max-height: 50%;
    bottom: 24%;
    
  }

  .right-top-image {
    width: 70%;
    max-height: 50%;
    bottom: 23%;
    right: -20%;
    
    
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero-wrap {
    z-index: 2;
    margin-top: -22%;
    font-size: 18px;
    line-height: 1.4em;
  }

  .top-assets {
    margin-top: -20%;
  }

  .top-shadow {
    height: 80%;
    max-width: 110%;
  }

  .left-shadow {
    width: 180%;
    height: 50%;
    bottom: -17%;
    left: -20%;
  }

  .left-image {
    width: 145%;
    bottom: -14%;
    left: -56%;
  }

  .right-shadow {
    width: 190%;
    max-width: 190%;
    bottom: -2%;
    right: -90%;
  }

  .right-image {
    width: 200%;
    max-width: 200%;
    right: -90%;
  }

  .right-orchid {
    height: 20%;
    max-height: 20%;
    bottom: -2%;
    right: -20%;
  }

  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .h2 {
    font-size: 70px;
  }

  .grid-schedule {
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    grid-template-columns: 2px 1fr;
  }

  .left-schedule {
    align-items: flex-start;
  }

  .h3 {
    font-size: 25px;
  }

  .right-schedule {
    margin-top: 0%;
  }

  .width-80 {
    width: 100%;
  }

  .top-image {
    width: 90%;
    max-width: 90%;
  }

  .footer-wrap {
    flex-direction: column;
    align-items: center;
  }

  .and {
    font-size: 22vw;
    line-height: 1.3em;
  }

  .left-top-image {
    bottom: 21%;
  }

  .right-top-image {
    width: 100%;
    max-height: 60%;
    bottom: 21%;
    right: -40%;
    transform: rotate(-20deg);
  }
}
