.discoverSection {
  // height: 100vh;
  position: relative;
  padding-bottom: 100px;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/bg/for1.jpg");
    background-size: cover;

    opacity: 0.1;
  }

  .products {
    position: relative;

    display: flex;
    justify-content: space-evenly;
    @include respond-below(md) {
      flex-direction: column;
      gap: 100px;
    }

    .p {
      position: relative;
      // .blob {
      //   filter: invert(99%) sepia(4%) saturate(4981%) hue-rotate(3deg)
      //     brightness(94%) contrast(100%);
      // }
      .bottle {
        position: absolute;
        height: 90%;
        left: 50%;
        transform: translate(-50%);
        top: -40px;
      }

      .name {
        position: absolute;
        bottom: 0;
        width: 300px;
        left: 50%;
        transform: translate(-50%);
        display: flex;

        p {
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 50px;
          color: $color_j3;
        }

        // > img {
        //   filter: invert(63%) sepia(29%) saturate(643%) hue-rotate(355deg)
        //     brightness(92%) contrast(84%);
        // }
      }
    }
    // .p{
    // }
  }
}
