.quoteSection {
  background-color: $color_j2;
  font-size: 45px;
  font-weight: 600;
  padding: 20px;
  // margin-bottom: 100px;


  @include respond-below(md) {
    font-size: 30px;
    line-height: 45px;
  }
}
