.tag {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%) rotate(-5deg);
  z-index: 10;


  h1 {
    font-size: 80px;
    // color: white;
    font-weight: 800;
    line-height: 50px;
    text-align: center;

    span {
      display: block;
    }
    @include respond-above(md) {
      font-size: 130px;
      line-height: 74px;
    }
  }

  text-shadow: 1px 1px 10px $color_2;

  img{
    margin-bottom: 200px;
    width: 300px;
  }
}
