.bannerSection {
  position: relative;

  .animals {
    position: absolute;
    z-index: 1;
    width: 300px;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    @include respond-above(lg){
      width: 450px;
      left: 65%;
    }
  }
}
