// https://colorhunt.co/palette/0d1282eeededf0de36d71313

$color_1: #256f9c;
$color_2: #5ba4ab;
$color_3: #f9dd7f;
$color_4: #9ad964;
$color_5: #fe757c;
$color_6: #ff9297;

$color_j1: #422f25;
$color_j2: #be945b;
$color_j3: #e9ed60;
$color_j4: #52843c;
$color_j5: #1f3f2b;
